/.vs
/03_if_basic.c
/03_if_basic.exe
/03_if_else.c
/03_if_else.exe
/03_if_else_if.c
/03_if_else_if.exe
/03_if_logical_operators.exe
/03_income_tax.c
/03_income_tax.exe
/03_lowercase_or_not.exe
/03_practice_2.c
/03_practice_2.exe
/03_practice_set.exe
/03_switch_case.c
/03_switch_case.exe
/03_ternary.c
/03_ternary.exe
/Chapter 3 - Conditional Instructions .pdf
/Chapter 3 - Practice Set.pdf